@import "../../../palette";

.services-container {
  position: relative;
  top: -100px;
  /*background: rgba(0,0,0,0.5);*/
  border-radius: 10px 10px 0px 0px;
}

.section-service {
  background-color: $white;
  /*border: 1px solid $black;*/
  color: $black;
  padding: 16px;
  border-radius: 10px;
  height: 230px;
}
