<div class="container-fluid">
  <app-banner [imgPath]="'/assets/img/banner_1.webp'" [altImg]="'banner_1.webp'"></app-banner>
  <div class="row justify-content-end">
    <div class="col-xs-12 col-sm-12 col-md-8" id="main-info">
      <h1>Consultoría y servicios de TI</h1>
      <hr>
      <p>
        Desarrolla una visión estratégica para su negocio evaluando su infraestructura actual para identificar las áreas de mejora
        e identificando riesgos potenciales.
      </p>
      <p>
        Diseño e implementación de sistemas
      </p>
    </div>
  </div>
</div>
<app-services></app-services>
<app-contact-us></app-contact-us>
